.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.profile-pic {
  width: 100%;
  /* border-radius: 100%; */
  margin: 2% auto;
}

.centered {
  text-align: center;
}

.socials,
.copyright {
  background-color: #333;
  color: white;
  text-align: center;
}

p {
  margin-top: 20px;
}

.container {
  margin-bottom: 40px;
}

.socials {
  font-size: 2rem;
}

.socials span {
  margin: 1%;
}

.socials a {
  text-decoration: none;
  color: white;
}

.short {
  margin: 15px;
}